<div class="">
  <div classs="row">
    <div class="col s12 l12 m12 xl12 card_base">
      <div class="col s12 l12 m12 xl2 padding8 ">
        <h4>
          Listado de entras y salidas
        </h4>
        <div class="col s12 l12">
          <a class="ponter btn btn-small margin-rigth10" (click)="modalUp=true;modalUpCreate=false;">Entradas</a> <a
            class="ponter btn btn-small" (click)="modalUpCreate=true;modalUp=false">Salidas</a>
        </div>
      </div>
      <div class="row">
        <div class="col s12 l12 m12">
          <p>
            Saldos totales
          </p>
          Cantidad: <b> {{obj.quantity}}</b> /
          Valor unitario: <b>{{obj.unit | currency}}</b> /
          Valor Total: <b>{{obj.total | currency}}</b>
        </div>


        <div class="col s12 padding8">
          <table class="col s12 l12 xl12 padding0">
            <thead>
              <tr>
                <th class="light-blue lighten-5">Fecha</th>
                <th class="light-blue lighten-5">Documento</th>
                <th class="pink lighten-5">Cantidad E</th>
                <th class="pink lighten-5">V Unitario E</th>
                <th class="pink lighten-5">V Total E</th>
                <th class="purple lighten-5">Cantidad S</th>
                <th class="purple lighten-5">V Unitario S</th>
                <th class="purple lighten-5">V Total S</th>
              </tr>

            </thead>

            <tbody>
              <tr *ngFor="let item of obj.items ">
                <td>{{item.date | date :'short'}} </td>
                <td>{{item.document}}</td>

                <td>
                  <span *ngIf="item.assigne == 'entries'">
                    {{item.quantity}}
                  </span>
                </td>

                <td><span *ngIf="item.assigne == 'entries'">
                    {{item.value_unit | currency}}
                  </span></td>
                <td><span *ngIf="item.assigne == 'entries'">
                    {{item.value_total | currency}}
                  </span></td>
                <td><span *ngIf="item.assigne == 'exits'">
                    {{item.quantity}}
                  </span></td>
                <td><span *ngIf="item.assigne == 'exits'">
                    {{item.value_unit | currency}}
                  </span></td>
                <td><span *ngIf="item.assigne == 'exits'">
                    {{item.value_total | currency}}
                  </span></td>


              </tr>
            </tbody>
          </table>
        </div>
      </div>


    </div>
  </div>
</div>

<div id="Create" class="modal" [ngClass]="{ 'up': modalUpCreate, 'downs': !modalUpCreate }" style="
width: 400px;
min-height: 625px !important;
overflow: auto;
height: auto;
overflow: hidden;
">
  <div class="modal-content text-inicial padding32">

    <div>

      <h4 class="center">
        Salidas
      </h4>




      <div class="input-field col s12">
        <input [(ngModel)]="date" id="first_date" type="date" class="validate">
        <label for="first_date" [ngClass]="{'active': date}">Nombre</label>
      </div>
      <div class="input-field col s12">
        <input [(ngModel)]="document" id="first_document" type="text" class="validate">
        <label for="first_document" class="active">Refencia</label>
      </div>
      <div class="input-field col s12 ">
        <select class="browser-default" [(ngModel)]="type">

          <option value="EXIT" class="left">SALIDAS</option>
          <option value="RETURN" class="left">DEVOLUCION DE SALIDA</option>
        </select>

      </div>
      <div class="input-field col s12">
        <input [(ngModel)]="quantity" id="first_quantity" type="number" class="validate">
        <label for="first_quantity" class="active">Cantidad</label>
      </div>

      <a class="btn btn-small poniter right" *ngIf="date &&document && quantity" (click)="saveExit()">Guardar</a>

    </div>
  </div>
</div>






<div class="modal-overlay" [ngClass]="{ 'ups': modalUpCreate, 'downs': !modalUpCreate }"
  (click)="modalUpCreate = false"></div>

<div id="Create" class="modal" [ngClass]="{ 'up': modalUp, 'downs': !modalUp }" style="
      width: 400px;
      min-height: 625px !important;
      overflow: auto;
      height: auto;
      overflow: hidden;
    ">
  <div class="modal-content text-inicial padding32">

    <div>

      <h4 class="center">
        Entradas
      </h4>




      <div class="input-field col s12">
        <input [(ngModel)]="date" id="first_date" type="date" class="validate">
        <label for="first_date" class="active">Nombre</label>
      </div>
      <div class="input-field col s12">
        <input [(ngModel)]="document" id="first_document" type="text" class="validate">
        <label for="first_document" class="active">Referencia</label>
      </div>
      <div class="input-field col s12 ">
        <select class="browser-default" [(ngModel)]="type">

          <option value="ENTRIE" class="left">ENTRADA</option>
          <option value="RETURN" class="left">DEVOLUCION DE ENTRADA</option>
        </select>

      </div>
      <div class="input-field col s12">
        <input [(ngModel)]="quantity" id="first_quantity" type="number" class="validate">
        <label for="first_quantity" class="active">Cantidad</label>
      </div>
      <div class="input-field col s12">
        <input [(ngModel)]="value_unit" id="first_value_unit" type="number" class="validate">
        <label for="first_value_unit" class="active">Valor unitario</label>
      </div>

      <a class="btn btn-small poniter right" *ngIf="date &&document && quantity && value_unit"
        (click)="saveEntry()">Guardar</a>

    </div>
  </div>
</div>






<div class="modal-overlay" [ngClass]="{ 'ups': modalUp, 'downs': !modalUp }" (click)="modalUp = false"></div>
<div id="snackbar" [ngClass]="{ 'show':toast, 'hidden': !toast }">{{message}}</div>
